venv/
.env
.env-example
__pycache__/
*.pyc
*.pyo
*.pyd
migrations/versions/*.pyc
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/


.env
.env-example
venv
*.pyc
instance/
__pycache__/

.vscode/

amo.rest

*.db
<migrations/
*.db
migrations/versions/*.py
